* {white-space: nowrap}
.fix {background-color: pink}
.fix-keyw {color: red;
   font-weight: bold;}
.fix-leetkw {color: green;
   font-weight: bold;}
.keyw {color: red;
   font-weight: bold;}
.leetkw {color: green;
   font-weight: bold;}
.keywR {color: #ff66ff;
   font-weight: bold;}
.format {background-color: yellow}
.formatSusp {background-color: #ffffdd}
.num {font-weight: bold;
   color: #4444ff; }
.url {background-color: pink}
* {font-family: monospace}
body {padding: 1em}
.alert {color: red}
.red {color: red}
td {padding:2px}
.alertbox {border:1px red solid}
.leet {background-color: #99ff99}
.nokeyword {background-color: #bbeeff}
//.braille {line-height: 65%;}
.braille {line-height: 75%; letter-spacing: 3px;}
.AA {font-size: xx-small; line-height: 83%; letter-spacing: -2.5px;}
.AA2 {font-size: xx-small; line-height: 100%; letter-spacing: 0px;}
.AA3 {font-size: xx-small; line-height: 70%; letter-spacing: 0px;}
.QR {font-size=6pt; line-height: 83%; letter-spacing: 2.5px;}
.kuro{background-color:#000; color:#444; width:6pt;}
.shiro{background-color:#fff; color:#ddd;width:6pt;}
.aka{background-color:#f00; color:#fff;width:6pt;}
.keyOn {background-color: pink;}
.keyOff {background-color: #fff;}
#keylayout {width: 70%; text-align: center;}
#atom td {width: 70%; text-align: center; border: 1px solid gray; margin: 0px;}
#atom {border-collapse: collapse;}
.debug { font-weight: bold; border:1px red solid; color: red; }
.attention {background-color: yellow}
.elapsedtime {color: white; font-size: xx-small; display: inline; }
.elapsedtime2 {color: white;  font-size: xx-small; display: inline; }
.result {display: inline; }
input[type='button'] { margin: 5px 0px; }
/*.rotBox {display: inline !important;}*/







 